<p class="price">{{ price }}</p>
{% if logged_in %}
  <form action="{{ action }}" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ data.key }}"
      data-amount="{{ data.amount }}"
      data-name="{{ data.name }}"
      data-description="{{ data.description }}"
      data-image="{{ data.image }}"
      data-zip-code="{{ data.zip_code }}"
      data-locale="{{ data.locale }}"
      data-email="{{ data.email }}"
      data-label="{{ data.label }}">
    </script>
    <input type="hidden" name="entity_id" value="{{ entity_id }}"/>
    <input type="hidden" name="entity_type" value="{{ entity_type }}"/>
    <input type="hidden" name="field_name" value="{{ field_name }}"/>
  </form>
{% else %}
  <a href="{{ anon_url }}" class="stripe-button button">{{ data.label|replace({'@price': data.amount}) }}</a>
{% endif %}
